# システムファイル
.DS_Store
Thumbs.db

# エディタの設定ファイル
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 依存関係
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# ビルド生成物
dist/
build/
.cache/

# ローカル環境設定
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ログファイル
*.log
